n8n/workflow.json.json
{
  "name": "P10 API Reliability - REAL HTTP 429 Demo Ready",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "commproto-p10",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1076d8e9-6b9e-4a5c-9dd3-6d7a8a0b0f66",
      "name": "Webhook - P10 API Reliability",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -960,
        128
      ],
      "webhookId": "commproto-p10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "clientId",
              "name": "clientId",
              "value": "={{ $json.body?.clientId || $json.clientId || 'demo-client' }}",
              "type": "string"
            },
            {
              "id": "scenario",
              "name": "scenario",
              "value": "={{ $json.body?.scenario || $json.scenario || 'rate-limit' }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $json.body?.timestamp || $json.timestamp || $now }}",
              "type": "string"
            },
            {
              "id": "topic",
              "name": "topic",
              "value": "P10 - API Reliability",
              "type": "string"
            },
            {
              "id": "rpsMapping",
              "name": "rpsMapping",
              "value": "Rate Limiting, Load Balancing, HTTP Status Code, Evidence",
              "type": "string"
            },
            {
              "id": "demoNote",
              "name": "demoNote",
              "value": "Postman triggers n8n; n8n calls backend reliability API; IF node routes success/error based on backendStatusCode.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "86e61cd4-8420-4a07-aaaa-8388a1d6a0d2",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        128
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8088/api/reliability/rate-limited",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "proxy": ""
        }
      },
      "id": "1cbaee89-87cc-4d79-817c-b9d85eb6242b",
      "name": "Call Reliability API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "smaller",
              "value2": 400
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "53af0a1e-dca0-4848-a6d6-f31beb0428c0",
      "name": "Check Status Code < 400",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflowResult",
              "name": "workflowResult",
              "value": "SUCCESS",
              "type": "string"
            },
            {
              "id": "workflowBranch",
              "name": "workflowBranch",
              "value": "TRUE_BRANCH_SUCCESS",
              "type": "string"
            },
            {
              "id": "executedNode",
              "name": "executedNode",
              "value": "Build Success Response",
              "type": "string"
            },
            {
              "id": "ifDecision",
              "name": "ifDecision",
              "value": "backendStatusCode < 400",
              "type": "string"
            },
            {
              "id": "clientId",
              "name": "clientId",
              "value": "={{ $('Normalize Request').item.json.clientId }}",
              "type": "string"
            },
            {
              "id": "scenario",
              "name": "scenario",
              "value": "={{ $('Normalize Request').item.json.scenario }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $('Normalize Request').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "backendStatusCode",
              "name": "backendStatusCode",
              "value": "={{ $('Call Reliability API').item.json.statusCode || $json.statusCode }}",
              "type": "number"
            },
            {
              "id": "backendMessage",
              "name": "backendMessage",
              "value": "={{ $('Call Reliability API').item.json.body?.message || 'Request accepted' }}",
              "type": "string"
            },
            {
              "id": "remaining",
              "name": "remaining",
              "value": "={{ $('Call Reliability API').item.json.body?.remaining }}",
              "type": "number"
            },
            {
              "id": "limit",
              "name": "limit",
              "value": "={{ $('Call Reliability API').item.json.body?.limit }}",
              "type": "number"
            },
            {
              "id": "teachingPoint",
              "name": "teachingPoint",
              "value": "Status < 400 means the backend API accepted the request.",
              "type": "string"
            },
            {
              "id": "evidenceMessage",
              "name": "evidenceMessage",
              "value": "Workflow hit TRUE branch and executed Build Success Response because backendStatusCode is below 400.",
              "type": "string"
            },
            {
              "id": "responseCodeSent",
              "name": "responseCodeSent",
              "value": "={{ Number($json.statusCode || 200) }}",
              "type": "number"
            },
            {
              "id": "httpLayerTeachingPoint",
              "name": "httpLayerTeachingPoint",
              "value": "n8n Respond Success mirrors backendStatusCode to the HTTP response code. For success branch this should be 200.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a330397c-2ff6-487c-a0de-0ff64fb2cbac",
      "name": "Build Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ Number($json.backendStatusCode || 200) }}"
        }
      },
      "id": "d0bc9364-dadd-42da-a71a-1aa6651c1f53",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflowResult",
              "name": "workflowResult",
              "value": "RETRY_NEEDED_OR_FAILED",
              "type": "string"
            },
            {
              "id": "workflowBranch",
              "name": "workflowBranch",
              "value": "FALSE_BRANCH_ERROR",
              "type": "string"
            },
            {
              "id": "executedNode",
              "name": "executedNode",
              "value": "Build Error Response",
              "type": "string"
            },
            {
              "id": "ifDecision",
              "name": "ifDecision",
              "value": "backendStatusCode >= 400",
              "type": "string"
            },
            {
              "id": "clientId",
              "name": "clientId",
              "value": "={{ $('Normalize Request').item.json.clientId }}",
              "type": "string"
            },
            {
              "id": "scenario",
              "name": "scenario",
              "value": "={{ $('Normalize Request').item.json.scenario }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $('Normalize Request').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "backendStatusCode",
              "name": "backendStatusCode",
              "value": "={{ $('Call Reliability API').item.json.statusCode || $json.statusCode }}",
              "type": "number"
            },
            {
              "id": "backendMessage",
              "name": "backendMessage",
              "value": "={{ $('Call Reliability API').item.json.body?.message || 'Too Many Requests' }}",
              "type": "string"
            },
            {
              "id": "retryAfterSeconds",
              "name": "retryAfterSeconds",
              "value": "={{ $('Call Reliability API').item.json.body?.retryAfterSeconds || $('Call Reliability API').item.json.body?.retryAfter || 0 }}",
              "type": "number"
            },
            {
              "id": "limit",
              "name": "limit",
              "value": "={{ $('Call Reliability API').item.json.body?.limit }}",
              "type": "number"
            },
            {
              "id": "teachingPoint",
              "name": "teachingPoint",
              "value": "429 means Too Many Requests. The client should wait before retrying.",
              "type": "string"
            },
            {
              "id": "suggestion",
              "name": "suggestion",
              "value": "Run Postman Runner with 6–8 iterations and zero delay to demonstrate success branch changing to error branch.",
              "type": "string"
            },
            {
              "id": "evidenceMessage",
              "name": "evidenceMessage",
              "value": "Workflow hit FALSE branch and executed Build Error Response because backend API returned a status code greater than or equal to 400.",
              "type": "string"
            },
            {
              "id": "responseCodeSent",
              "name": "responseCodeSent",
              "value": "={{ Number($json.statusCode || 429) }}",
              "type": "number"
            },
            {
              "id": "httpLayerTeachingPoint",
              "name": "httpLayerTeachingPoint",
              "value": "n8n Respond Error mirrors backendStatusCode to the HTTP response code. For rate limit branch this should be 429 Too Many Requests.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "58be235e-c797-4204-a768-b96d7f1faff1",
      "name": "Build Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ Number($json.backendStatusCode || 429) }}"
        }
      },
      "id": "1ea9992a-5a47-49d4-9604-f876bba3652c",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - P10 API Reliability": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request": {
      "main": [
        [
          {
            "node": "Call Reliability API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Reliability API": {
      "main": [
        [
          {
            "node": "Check Status Code < 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status Code < 400": {
      "main": [
        [
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Response": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9db0417f-0070-4b37-826c-925aaeb5ec04",
  "meta": {
    "instanceId": "813d288ebb75430880974bc9fdc8176c83e01a5df0122693c4a3b45bc994ded1"
  },
  "nodeGroups": [],
  "id": "0YSyZyrqeT7JmbCQ",
  "tags": []
}